import url(https://fonts.googleapis.com/css?family=Open%20Sans);
:root {
    --code-block-bg-color: inherit;//#f8f8f8;

    --item-hover-bg-color: #0a0d16;
    --control-text-color: #b7b7b7;
    --control-text-hover-color: #eee;
    --window-border: 1px dashed #9b9b9b;

    --active-file-bg-color: #0070E0;
    --active-file-border-color: #8d8df0;

    --primary-color: #a3d5fe;

    --active-file-text-color: #0070e0;
    --item-hover-bg-color: #70717d;
    --item-hover-text-color: white;
    --primary-color: #6dc1e7;
}

html,
body,
#write{
	color: #5e676d;
	font-family: "Open Sans", "Clear Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-weight: lighter;*/
	font-weight: 100;
	color: #5e676d;
	font-family: "Open Sans", sans-serif;
	margin: 0.5rem 0;
}

html {
	font-size:16px;
}

#write {
	max-width: 914px;
	text-align: justify;
}

#write>h1:first-child {
	margin-top: 2.75rem;
}
#write>h2:first-child {
	margin-top: 1.75rem;
}
#write>h3:first-child {
	margin-top: 1rem;
}
#write>h4:first-child {
	margin-top: 0.5rem;
}
h1 {
	margin: 1rem 0;
	/*line-height: 4rem;
	padding: 5px 30px;
	text-align: center;
	margin-top: 4rem;*/
}
h2 {
	margin: 0.8rem 0;
	/*
	line-height: 3rem;
	padding: 0 30px;
	text-align: center;
	margin-top: 3rem
	*/
}
h3 {
}
h4 {
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1.1rem;
}
p {
	color: #5e676d;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0 0 1.25rem;
}
#write>h3.md-focus:before {
	left: -1.875rem;
	top: 0.5rem;
	padding: 2px;
}
#write>h4.md-focus:before {
	left: -1.875rem;
	top: 0.3125rem;
	padding: 2px;
}
#write>h5.md-focus:before {
	left: -1.875rem;
	top: 0.25rem;
	padding: 2px;
}
#write>h6.md-focus:before {
	left: -1.875rem;
	top: .125rem;
	padding: 2px;
}
/*@media screen and (min-width: 48em) {
	.h1,
	h1 {
		font-size: 3.250rem;
	}
	.h2,
	h2 {
		font-size: 2.298rem;
	}
	.h3,
	h3 {
		font-size: 1.625rem;
	}
	.h4,
	h4 {
		font-size: 1.250rem;
	}
	.h5,
	h5 {
		font-size: 1.150rem;
	}
	.h6,
	h6 {
		font-size: 1rem;
	}
	#write>h4.md-focus:before,
	#write>h5.md-focus:before,
	#write>h6.md-focus:before {
		top: 1px;
	}
	p {
		font-size: 1.25rem;
		line-height: 1.8;
	}
	table {
		font-size: 1.25rem;
	}
}*/
@media screen and (max-width: 48em) {
	blockquote {
		margin-left: 1rem;
		margin-right: 0;
		padding: 0.5em;
	}
	.h1,
	h1 {
		font-size: 2.827rem;
	}
	.h2,
	h2 {
		font-size: 1.999rem;
	}
	.h3,
	h3 {
		font-size: 1.413rem;
	}
	.h4,
	h4 {
		font-size: 1.250rem;
	}
	.h5,
	h5 {
		font-size: 1.150rem;
	}
	.h6,
	h6 {
		font-size: 1rem;
	}
}
a,
.md-def-url {
	color: #007ee5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table {
	border: 1px solid #e2e2e2;
	margin-bottom: 20px
}
table th,
table td {
	padding: 8px;
	line-height: 1.5rem;
	vertical-align: top;
	border: 1px solid #e2e2e2;
}
table th {
	font-weight: normal;
	background-color: #f0f7fd;
}
table thead th {
	vertical-align: bottom
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}
table tbody+tbody {
	border-top: 2px solid #ddd
}
code, .md-fences {
	padding: .5em;
	background: #f6f9fc;
	border: 1px solid #d0d4d9;
	border-radius: 3px;
	padding: .1em;
	font-size: 0.9rem !important;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
.md-fences {
	margin: 0 0 20px;
	font-size: 1em;
	padding: 0.3em 1em;
  	padding-top: 0.4em;
}
.task-list{
	padding-left: 0;
}

.task-list-item {
	padding-left:2.125rem;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .task-list-item input:before {
    	margin-top: -0.2rem;
    }

    .task-list-item input:checked:before,
	.task-list-item input[checked]:before {
		margin-top: -0.2rem;
	}
}

blockquote {
	margin: 0 0 1.11111rem;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
	border-left: 2px solid rgba(0, 112, 224, 0.32);
}
blockquote,
blockquote p {
	line-height: 1.6;
	color: #8f8f8f;
}
#write pre.md-meta-block {
	min-height: 30px;
	background: #f8f8f8;
	padding: 1.5em;
	font-weight: 300;
	font-size: 1em;
	padding-bottom: 1.5em;
	padding-top: 3em;
    margin-top: -1.5em;
	color: #999;
	border-left: 1000px #f8f8f8 solid;
	margin-left: -1000px;
	border-right: 1000px #f8f8f8 solid;
	margin-right: -1000px;
	margin-bottom: 2em;
}
.MathJax_Display {
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
p.mathjax-block,
.mathjax-block {
	padding-bottom: 0;
}
.mathjax-block>.code-tooltip {
	bottom: 5px;
	box-shadow: none;
}
.md-image>.md-meta {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.md-image>img {
	margin-top: 2px;
}
.md-image>.md-meta:first-of-type:before {
	padding-left: 4px;
}

#typora-source {
	color: #555;
}

/** ui for windows **/
#md-searchpanel {
    border-bottom: 1px solid #ccc;
}

#md-searchpanel .btn {
    border: 1px solid #ccc;
}

#md-notification:before {
	top: 14px;
}

#md-notification {
	background: #eee;
}

.megamenu-menu-panel .btn {
	border: 1px solid #ccc;
}

.mac-seamless-mode #typora-sidebar {
  background-color: #f7f9fa;
}

.pin-outline .outline-active {
  color: #0070E0; 
}

.file-list-item {
  border-bottom: 1px solid;
  border-color: #E6E8EB;
}

.file-list-item-summary {
  font-weight: 400;
  color: #637282; 
}

.file-list-item.active {
  color: #0070E0;
  background-color: #E6E8EB;
}

.file-tree-node.active>.file-node-background {
  background-color: #E6E8EB;
} 

.file-tree-node.active>.file-node-content {
  color: #0070E0;
}

.file-node-content {
  color: #5e676d;
}

.sidebar-tab.active {
  font-weight: 400;
}

code, kbd, pre, samp {
  font-family: "Roboto Mono", Menlo, monospace;
}
