

/* Webfont: HKGrotesk-Light */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-Light.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-Light.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-Light.svg#HKGrotesk-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-LightItalic */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-LightItalic.svg#HKGrotesk-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-Regular */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-Italic */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-Italic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-Italic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-Italic.svg#HKGrotesk-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-Medium */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-Medium.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-MediumItalic */@font-face {
    font-family: 'HKGroteskMedium';
    src: url('./minimalism/HKGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-MediumItalic.svg#HKGrotesk-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-Bold */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-Bold.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-Bold.svg#HKGrotesk-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: HKGrotesk-BoldItalic */@font-face {
    font-family: 'HKGrotesk';
    src: url('./minimalism/HKGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/HKGrotesk-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/HKGrotesk-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/HKGrotesk-BoldItalic.svg#HKGrotesk-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-Light */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-Light.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-Light.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-Light.svg#OfficeCodePro-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-LightItalic */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-LightItalic.svg#OfficeCodePro-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-Regular */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-Regular.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-Regular.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-Regular.svg#OfficeCodePro-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-Italic */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-Italic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-Italic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-Italic.svg#OfficeCodePro-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-Bold */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-Bold.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-Bold.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-Bold.svg#OfficeCodePro-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: OfficeCodePro-BoldItalic */@font-face {
    font-family: 'OfficeCodePro';
    src: url('./minimalism/OfficeCodePro-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./minimalism/OfficeCodePro-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./minimalism/OfficeCodePro-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('./minimalism/OfficeCodePro-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./minimalism/OfficeCodePro-BoldItalic.svg#OfficeCodePro-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}







html {
    background: #2A2A2B;
}

body {
    font-family: 'HKGrotesk', sans-serif;
    font-weight: 300;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(242, 242, 242, 0.85);
    /* or
    text-shadow: #fff 0px 1px 1px;*/
    text-rendering: geometricPrecision; 
    font-size: 1.275em;
    letter-spacing: 0px; 
    color: #F9F9F9F9;
    line-height: 1.6em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

strong {
    font-family: 'HKGrotesk', serif; 
    font-weight: bold;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(242, 242, 242, 0.77);
} 

em {
    font-family: 'HKGrotesk', serif; 
    font-weight: normal; 
    font-style: italic;
} 

mark {
    color: #F2F2F2;
    background: #8373A5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(242, 242, 242, 0.97);
    padding: 1px 1px 1px 1px;
}

div.md-toc {
    font-size: 1.033em;
    line-height: 1.6em;
}

#write{
    max-width: 710px;
    margin: 0 auto;
    padding: 20px 30px 40px 30px;
    padding-top: 20px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 40px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}

a {
    color: #D0A3FF;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(208, 163, 255, 0.97);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "HKGrotesk",sans-serif;
    font-weight: bold;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;
    position: relative;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}

h1 {
    font-size: 2.4em;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-bottom: .3em;
    line-height: 1.2;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;
}
h2 {
    font-size: 1.8em;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-bottom: .3em;
    line-height: 1.2;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;
}
h3 {
    font-size: 1.5em;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-bottom: .3em;
    line-height: 1.2;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;
}
h4 {
    font-size: 1.2em;
    line-height: 1.2;
    padding-bottom: .3em;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;}
h5 {
    font-size: 1.1em;
    line-height: 1.2;
    padding-bottom: .3em;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;}
h6 {
    font-size: 1.0em;
    line-height: 1.2;
    padding-bottom: .3em;
    letter-spacing: -0.45px; 
    word-spacing: 0.5px;
}


  h1 { color: #F2F2F2;}
  h2,
  h3,
  h4,
  h5,
  h6 { color: #F2F2F2;}

p,
blockquote,
ul,
ol,
dl,
table{
    list-style-type: disc 
    margin: 0.8em 0;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #FFFFFF;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}
body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    color: #EFE8F5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(239, 232, 245, 0.97);
    background-color: #2A2A2B;
    border-left: 3.5px solid #71DEF1;
    margin-left: -1em;
    padding: 0.2em 1em;
    padding-top: 2px;
    padding-bottom: 2px;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #3C3D3C;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
}

.md-fences,
code,
tt {
    color: #50FA7B;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(80, 250, 123, 0.97);
    font-family: 'OfficeCodePro', monospace;
    font-size: 1.000em;
    border: 1px solid #3C3D3C;
    background-color: #20202A;
    padding: 0;
    font-family: 'OfficeCodePro', monospace;
    padding: 0;
    padding: 2px 4px 0px 4px;
}

.md-fences {
    color: #50FA7B;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-webkit-text-stroke: 0.45px;
    // or*/
    -webkit-text-stroke: 0.55px rgba(80, 250, 123, 0.97);
    font-family: 'OfficeCodePro', monospace;
    font-size: 1.000em;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}
.task-list{
    padding-left: 0;
}

.task-list-item {
    padding-left:32px;
}

.task-list-item input {
  top: 3px;
  left: 8px;
}

.task-list-item.md-task-list-item input {
    left: 0;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}
@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {
    background-color: #363846;
}
#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #3C3D3C;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: .375rem;
}

#write>h3.md-focus:before{
    left: -1.5625rem;
    top: .375rem;
}
#write>h4.md-focus:before{
    left: -1.5625rem;
    top: .285714286rem;
}
#write>h5.md-focus:before{
    left: -1.5625rem;
    top: .285714286rem;
}
#write>h6.md-focus:before{
    left: -1.5625rem;
    top: .285714286rem;
}
.md-image>.md-meta {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'OfficeCodePro', monospace;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag{
    color: inherit;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}


#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "HKGrotesk", sans-serif;
}

